.titileofapp{
    font-size: 100px;
    font-weight: 700 ;
    height: fit-content;
    margin-top: 5vh;
    color: #000000
    ;
}


.section1div{
display: flex;
color: rgb(15, 0, 0);
width: 100%;
height: 100vh;
}

.homepagedivcard{
display: flex;
}

.sssss{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.questionscard{
    width: 90vw;
    height: fit-content;
}


.sectiondivoneandtwo{
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
    }

.classnameimagesboncer{
    margin-top: 60%;
     width:fit-content;
     background-color: azure;
    }

@media only screen and (max-width:800px){
    .section1div{
        display: grid;
        height: 130vh;
    }

    .sectiondivoneandtwo{
        width: 100%;

    }
    .classnameimagesboncer{
        margin-top: 70%;
         width:fit-content
    }
    .sssss{
        width: 100%;
    }
}